aiogram==2.25.2
aiohttp==3.8.6
aiosignal==1.4.0
APScheduler==3.11.1
async-timeout==4.0.3
asyncio-atexit==1.0.1
attrs==25.4.0
Babel==2.9.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
Deprecated==1.2.15
emoji==2.15.0
frozenlist==1.8.0
grapheme==0.6.0
idna==3.10
loguru==0.7.3
magic-filter==1.0.12
mss==10.0.0
multidict==6.7.0
peewee==3.17.6
propcache==0.4.1
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.3
soupsieve==2.6
typing_extensions==4.15.0
tzlocal==5.3.1
uc==2.2.1
urllib3==2.2.3
websockets==16.0
wrapt==1.17.0
yarl==1.22.0
zendriver==0.15.2
